.container-xl
{
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.p1
{
    text-align: justify;
}
.align1
{
    text-align: left;
}
.bor
{
    border: none;
}
.img1
{
    background-color: black;
}