body{
    
    font-family: 'Poppins', sans-serif;
}
.container-xl{
    
    padding: 50px;
    height: 300px;
    
}
.he{
    text-align: center;
    color:white;
    
}
.align1{
    text-align: left;
    height: 400px;
    margin-top: 40px;
}
